.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.button {
  background: white;
  border: 1px solid #52a4b9;
  color: #52a4b9;
}

.button:hover,
.button:focus {
  background: #52a4b9;
  border: 1px solid #52a4b9;
  color: white;
}