.footer {
  background: #bbbbbb36;
}

.iconArea a:not(:last-child) {
  margin-right: 0.5rem;
}

.link {
  display: block;
}

.link::before {
  content: '> ';
}

.contactArea {
  text-align: right;
}

@media (max-width: 992px) {
  .contactArea {
    text-align: left;
  }
}
