.card {
  position: relative;
  margin: 5px;
  cursor: pointer;
}

.card img {
  border-radius: 1rem !important;
  border-top: 5px solid #c4c4c4 !important;
  border-bottom: 5px solid #c4c4c4 !important;
}

.dataContainer {
  position: absolute;
  width: 90%;
  margin: 0 auto;
  top: 8px;
  left: 10px;
}
